@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding-top: 60px;
}
a {
  color: rgb(84, 84, 85);
}

div a:hover {
  text-decoration: none;
  background-color: #dcdbdb;
  color: black;
}

.hero-image a img:hover {
  opacity: 0.7;
}

.rowm {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 60px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#my_logo img {
  height: 6rem;
  float: left;
  width: auto;
  margin-top: 6px;
  margin-bottom: 6px;
}

.logo {
  float: left;
  //   margin-right: 10px;
  //   font-size: 1.7em;
  //   // color: white;
  //   text-transform: uppercase;
  //   letter-spacing: -1px;
  //   padding-top: 9px;
  //   font-weight: bold;
  //   &:hover {
  //     // color: rgb(121, 117, 117);
  //     text-decoration: none;
  //   }
}

.nav-options {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.nav-options li {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  list-style: none;
}

.mobile-nav-menu {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}
.mobile-nav-exit {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

ion-icon {
  font-size: 300%;
}

/* footer */

footer {
  clear: both;
  display: table;
  width: 100%;
  margin-top: 45px;
  padding-top: 25px;
  border-top: 1px solid #d4d0d0;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Categories */

.btn-primary {
  margin: 2rem 0 2rem 0;
}

.hero-image img {
  display: inline-block;
  width: 370px;
  border-radius: 20px;
  box-shadow: 0 5px 5px #2d2b2b;
}

#term,
input[type='submit'] {
  width: 20rem;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
}

.profile-actions input[type='submit'] {
  width: 20rem;
  height: 35px;
  margin-left: 100px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(88, 156, 247);
}

.category_image {
  border-radius: 20px;
  width: 370px;
}

/* devise */
.devise-actions input[type='submit'] {
  width: 20rem;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
}

.reset-devise #user_email {
  width: 20rem;
  height: 35px;
  border-radius: 10px;
}

/* Media queries */

@media only screen and (max-width: 1200px) {
  .hero-image img {
    width: 300px;
  }
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .hero-image img {
    width: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-image img {
    width: 270px;
  }

  .mobile-nav-menu {
    display: inline-block;
  }

  .navbar-nav > li > a {
    padding: 0px;
    font-size: 90%;
  }

  .main-nav {
    float: left;
  }

  .main-nav li {
    display: block;
  }

  .main-nav a {
    font-size: 80%;
  }

  .nav-options {
    padding-left: 70px;
    display: none;
  }
}
