<div class="row">
		<h1>Share your skills or learning something new!</h1>
		<% @categories.each do |c| %>
			<div class="col-md-3">
				<%= c.description %>
					<%#= image_tag play.play_img.url(:play_index), class: "play" %>
				</a>
			</div>
        <% end %>
</div>