<p>Thanks, your lesson has been booked, please check you email to arrange lesson time with your Tutor <strong></p>
								<img src="https://s3.amazonaws.com/teach-me-app/thanks/thanks.jpg" alt="thanks">

<%= link_to 'Home', root_path %>