<footer class="footer">
  <nav>
    <ul>
      <li style="font-size:2rem"><%= link_to "About us",   about_path %></li>
      <li style="font-size:2rem"><%= link_to "Contact us", contact_path %></li>
    </ul>
  </nav>
</footer>